.nav {
    background-color: $white;
    border: 1px solid $borderColor;
    border-radius: 12px;
    opacity: 0.5;
    padding: 16px;
    position: fixed;
    right: 12px;
    top: 25%;
    transition: opacity $delay-200 ease;
    width: 200px;

    &__title {
        color: $black;
        font-weight: 600;
    }

    &__list {
        display: grid;
        margin-top: 16px;
        row-gap: 4px;
    }

    &__link {
        color: $black;

        &:hover {
            color: $red;
        }
    }

    &:hover {
        opacity: 1;
    }
}
