extends ../page.pug

block page
    main.error-page
        .error
            h1.error__title 404
            p.error__description Page not found #{':('}
            a.button.error__back-button(href="/src/pages/MessengerPage/template.pug") Back to messeges
